        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: Roboto;
            font-style: normal;
        }
        
        header {
            background-image: url(./images/header.jpg);
            background-size: cover;
            padding-bottom: 138px;
            padding-top: 120px;
        }
        
        .container {
            max-width: 1146px;
            margin: auto;
        }
        
        h1 {
            font-weight: 500;
            font-size: 54px;
            line-height: 63px;
            color: #003395;
            margin-bottom: 27px;
            padding: 3px 0 3px 0;
        }
        
        header p {
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
        }
        
        nav {
            background-color: #003395;
            padding: 27px 0 26px 0;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            font-weight: 400;
            font-size: 18px;
            line-height: 207.9%;
            letter-spacing: 2px;
            margin-right: 62px;
        }
        
        .left,
        .right {
            display: inline-block;
            vertical-align: top;
        }
        
        .left {
            max-width: 754px;
            margin-right: 50px;
        }
        
        .right {
            max-width: 336px;
        }
        
        .left h2 {
            font-weight: 700;
            font-size: 27px;
            line-height: 31.64px;
            color: #003395;
            border-top: 2px #003395 solid;
            border-bottom: 2px #003395 solid;
        }
        
        .left p {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #30233D;
            margin: 16px 0 34px 0;
        }
        
        .right-top,
        .right-bottom {
            border: 2px solid #33008D;
        }
        
        .right-top {
            margin-bottom: 56px;
        }
        
        .right h2 {
            padding: 14px 17px 14px 17px;
            background-color: #24B0ff;
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            color: #fff;
            margin: 19px 19px 14px 19px;
        }
        
        .right-top p {
            margin: 0 53px 26px 19px;
            font-weight: 400;
            font-size: 16.2px;
            line-height: 26px;
            color: #30233D;
        }
        
        li {
            list-style-type: none;
            font-weight: 400;
            font-size: 16.2px;
            line-height: 26px;
            color: #30233D;
            margin: 0 64px 10.6px 19px;
        }
        
        footer {
            background-image: linear-gradient(to top, #00205F, #003395);
            padding: 48px 0 83px 0;
        }
        
        footer p {
            color: #fcfcfc;
            font-weight: 400;
            font-size: 11.7px;
            line-height: 19px;
            text-align: right;
        }
        
        main {
            padding: 57px 0 62px 0;
        }